<!DOCTYPE html>


{% load staticfiles %} <!-- new -->

<html>

    <head>
        <title>Rango</title>

    </head>

    <body>
        <h1>Rango Says</h1>

        <div>
            hey there partner<br/>
            <strong>{{ boldmessage }}</strong>

        </div>
        <!-- categories-->
        <div>
            {% if categories %}
            <ul>
                {% for cat in categories%}
                    <li>{{ cat.name }}</li>

                {% endfor %}
            </ul>
            {%else %}

            <strong>No sucn categories!</strong>

            {% endif %}
        </div>




        <div>
            <img src="{% static "images/sjt.jpg" %}"
            alt="Picture of SJT" /><br/>
            <a href="/rango/about">About</a><br/>

        </div>


    </body>


</html>